<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("build/app.css") }}">
            {% block additionnal_stylesheets %}{% endblock %}
        {% endblock %}

        {% block javascripts %}
            <script type="application/javascript" src="{{ asset("build/app.js") }}"></script>
            {% block additionnal_javascripts %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
