{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block additionnal_stylesheets %}
    <link rel="stylesheet" href="{{ asset("build/index.css") }}">
{% endblock %}

{% block body %}
    <div class="center-page px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h1>Manage my apartment</h1>
                <p class="lead mb-5">
                    Web application to manage your apartment. This includes chores, food storage, etc...
                    In addition, a follow-up is also made available to know in which state the apartment has been left.
                </p>
                <a class="btn btn-dark btn-xl" href="{{ path('app_dashboard') }}">Go manage my apartment !</a>
                {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-danger btn-xl" href="{{ path('app_logout') }}">Logout</a>
               {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
